* {
    background:                     #1b1e25ff;
    background-alt:                 #242830ff;
    foreground:                     #ebddbccc;
    border:               			#2b2f38ff;
    border-alt:               		#DEC386ff;
    selected:               		#2b2f38ff;
    urgent:                         #EAB2C2FF;
}
